@media only screen and (max-width: 992px) {

    :root {
        --fs-40: 40px;
        --fs-30: 30px;
        --fs-24: 24px;
        --fs-20: 20px;
        --fs-18px: 18px;
        --fs-16px: 16px;
    }


    section:not(.heroSection) {
        padding: 50px 0 !important;
    }

    .heroSearch .borderOverlay {
        width: 80%;
    }

    .pricingMain * {
        text-align: center;
    }

    footer {
        padding: 50px 0;
    }

    footer * {
        text-align: center;
    }

    .topFooter {
        margin-bottom: 30px;
    }

    .quickMain {
        padding: 20px;
        height: auto;
    }
}

@media only screen and (max-width: 767px) {
    :root {
        --fs-40: 30px;
        --fs-30: 27px;
        --fs-24: 20px;
        --fs-20: 18px;
        --fs-18px: 16px;
        --fs-16px: 15px;
    }

    /* .heroSearch {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    .searchWrapper {
        margin-bottom: 50px;
    }

    .testimonialMain {
        padding: 50px 10px;
    }

    .pricingMain {
        padding: 20px;
    }

    .heroSearch .borderOverlay {
        top: -19;
    }

    .heroSectionButtons {
        flex-direction: column;
        gap: 5px;
    }

    .heroSearch button {
        padding: 10px;
        max-width: max-content;
    }

    .heroSearch input {
        font-size: 14px;
    }

    .panelSection .util__panel:not(:last-child) {
        margin-bottom: 50px;
    }

    .panelText {
        text-align: center;
    }

    section.pricingSection {
        padding: 30px 0 !important;
    }

    .formGrid {
        grid-template-columns: 1fr;
    }

    .formGrid>div:has(textarea) {
        grid-column: unset;
    }
}